html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.time-entry-row:hover {
  background: #e6f7ff;
}

.time-entry-row > div {
  line-height: 36px;
}

.time-entry-row-weekend {
  opacity: 0.5;
}

.buttons {
  display: none;
}

.time-entry-row:hover .buttons {
  display: inline;
}

@media (pointer: coarse) {
  button {
    display: inline;
  }
}

.delete-button:hover {
  background: #ffcccd !important;
}

.logo {
  float: left;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  margin-left: 30px;
}


@media (max-width: 576px) {
  .hide-below-sm  {
    display: none;
  }

  .logo {
    margin-left: 0px;
    width: 50px;
  }
}

@media (max-width: 768px) {
  .hide-below-md  {
    display: none;
  }

  .header {
    padding: 0 0 0 30px !important;
  }

  .ant-menu-item {
    padding: 0 15px !important;
  }
}
